[submodule "themes/somestyleplease"]
	path = themes/somestyleplease
	url = https://github.com/004822/somestyleplease
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke
